.staking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    background-color: #000;
}



.staking-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }


.about-us-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    text-align: center;
    flex-direction: column;
    gap: 25px;
}

.about-intro {
    width: 58%;
}



.socials {
  display: flex;
  justify-content: space-around;
}



.socials .border-contain {
    border: 1px solid #222222;
    border-radius: 100%;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.socials i {
    font-size: 17px;
    color: #F05454;
}