.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: flex-start;
    padding-top: 39px;
    padding-bottom: 39px;
    height: 100%;
    margin-left: 0px;
}


.body-containerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: flex-start;
  padding-top: 0;
  height: 100%;
}




.body-container .containbody{
  display: flex;
  padding: "30px";
}

/*
.body-container .containbodychainactive{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: "30px";
  width: 45%;
}
*/
.body-container .containbodychainforcomplete{
  display: flex;
  padding: "30px";
  width: 100%;
}



.get-back {
  background: linear-gradient(116.29deg, rgba(255, 255, 255, 0.35) -29.94%, rgba(255, 255, 255, 0.26) -29.93%, rgba( 255,255, 255, 0.1) 101.76%);
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.15), inset -4px -4px 4px rgba(245, 245, 245, 0.11);
  position: absolute;
  width: 50px;
  text-align: center;
  padding: 5px;
  z-index: 500px;
  cursor: pointer;
  top: 10%;
  left: 9%;
}






.orbit-container-cover {
  width: 100%;
  height: 96%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* background: green; */
  left: 0;
  right: 0;
}


.paginate button {
  width: 138px;
  text-align: center;
  height: 42px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}


.body-container .eth-view {
    position: relative;
    flex-basis: 50em;
    height: 100%;
    margin-left: 20px;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-content .main-content-holder {
  width: 80%;
}

.main-content .welcome {
  display: flex;
  height: 5.5em;
} 

.main-content .welcome-more {
  /* padding-bottom: 41px; */
  /*height: 40px;*/
  /*padding-left: 10px;*/
  padding: 20px;
}


.main-page .main-content h2 {
  color: #F05454;
  font-size: 58px;
}





.littleinfo-contain {
  display: flex;
  justify-content: space-around;
  margin-top: 23px;
  width: 100%;
}

.littleinfo-contain .littleinfo {
  background-color: #181619;
  text-align: center;
  width: 30%;
  height: 8em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6.2px;
}




.body-container .orbits-container {
    position: relative;
    flex-basis: 50em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-contain {
  width: "100vh";
  height: "100vh";
   padding-right: 20px;
}

.animationholder {
  position: relative;
  width: 100%;
  height: 100%;
}







.increaseSize {
  font-size: 24px;
}

.normalSize {
  font-size: 16px;
}



.pagination {
  display: flex;
  width: 45%;
  background: #000;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  height: 34px;
}


.pagination .numbers {
  display: flex;
  justify-content: space-around;
  width: 35%;
}


.numbers .active {
  background: green;
  width: 12px;
  text-align: center;
}







 



@media screen and (max-width: 799px) { 

  .body-container .containbodychainactive {
    display: flex;
    padding: "30px";
    width: 90%;
}

  .body-container .main-page {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    color: #F5F5F5;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}




}

















@media screen and (max-width: 709px) {



  .body-container .main-page {
    position: relative;
    width: 100%;
    height: 100%;
    /* margin-left: 20px; */
    /* background-color: blue; */
    color: #F5F5F5;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 0;
}


.main-page .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 0px; 
  margin-top: 0px;
  gap: 45px;
}




.main-page .main-content h2 {
  color: #F05454;
  font-size: 42px;
}







.main-content .welcome {
    display: flex;
    height: 5.5em;
    width: 100%;
}




.button-contain {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  padding-left: 0;
}


.button-contain .button {
  border: none;
  width: 10em;
  height: 3em;
  background-color: #F05454;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}



.button-contain .button-2 {
  border: 1px solid #F5F5F5;
  width: 10em;
  height: 3em;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}




.littleinfo-contain {
  display: flex;
  justify-content: space-around;
  margin-top: -4px;
  width: 100%;
  /* margin-right: 30px; */
}



.littleinfo-contain .littleinfo {
  background-color: #181619;
  text-align: center;
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6.2px;
}

/* add something here for max-width: 709px */

  
}




@media screen and (max-width: 400px) {


  .pagination {
    display: flex;
    width: 80%;
    background: #000;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    height: 34px;
  }
  
  
  .pagination .numbers {
    display: flex;
    justify-content: space-around;
    width: 36%;
  }
  
  
  .numbers .active {
    background: green;
    width: 16px;
    text-align: center;
  }
  


}













