.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: flex-start;
    padding-top: 39px;
    padding-bottom: 39px;
    height: 100%;
}


.body-containerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 39px;
  height: 100%;
}




.body-container .containbody{
  display: flex;
  padding: "30px";
}

/*
.body-container .containbodychainactive{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: "30px";
  width: 45%;
}
*/
.body-container .containbodychainforcomplete{
  display: flex;
  padding: "30px";
  width: 100%;
}



.get-back {
  background: linear-gradient(116.29deg, rgba(255, 255, 255, 0.35) -29.94%, rgba(255, 255, 255, 0.26) -29.93%, rgba( 255,255, 255, 0.1) 101.76%);
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.15), inset -4px -4px 4px rgba(245, 245, 245, 0.11);
  position: absolute;
  width: 50px;
  text-align: center;
  padding: 5px;
  z-index: 500px;
  cursor: pointer;
  top: 10%;
  left: 9%;
}






.orbit-container-cover {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.paginate button {
  width: 138px;
  text-align: center;
  height: 42px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}


.body-container .eth-view {
    position: relative;
    flex-basis: 50em;
    height: 100%;
    margin-left: 20px;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-content .main-content-holder {
  width: 80%;
}

.main-content .welcome {
  display: flex;
  height: 5.5em;
} 

.main-content .welcome-more {
  /* padding-bottom: 41px; */
  /*height: 40px;*/
  /*padding-left: 10px;*/
  padding: 20px;
}


.main-page .main-content h2 {
  color: #F05454;
  font-size: 58px;
}





.littleinfo-contain {
  display: flex;
  justify-content: space-around;
  margin-top: 23px;
  width: 100%;
}

.littleinfo-contain .littleinfo {
  background-color: #181619;
  text-align: center;
  width: 30%;
  height: 8em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6.2px;
}




.body-container .orbits-container {
    position: relative;
    flex-basis: 50em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-contain {
  width: "100vh";
  height: "100vh";
   padding-right: 20px;
}

.animationholder {
  position: relative;
  width: 100%;
  height: 100%;
}




.orbits-container .sun {
  position: absolute;
  background-color: yellow;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  top: 39%;
  left: 50%;
  z-index: 999999999;
}


.increaseSize {
  font-size: 24px;
}

.normalSize {
  font-size: 16px;
}


.orbits-container .points-0 {
  width: 1.5em;
  border-radius: 100%;
  position: absolute;
  top: 52.72%;
  left:45%;
  transform: translateX(20%);
  z-index: 9999999;
}


.orbits-container .points-1 {
  width: 1.5em;
  border-radius: 100%;
  position: absolute;
  top: 38.8%;
  left: 60%;
  transform: translate3d(5px, 38px, 66px);
  z-index: 9999999999;
}

.orbits-container .points-2 {
  width: 1.5em;
  border-radius: 100%;
  position: absolute;
    top: 39.5%;
    left: 28%;
  transform: translateX(-50%);
  z-index: 999999999;
}

.orbits-container .points-3 {
  width: 1.5em;
  border-radius: 100%;
  top: 25.5%;
  left: 69%;
  position: absolute;
  transform: translateX(10%);
  z-index: 99999999;
}


.orbits-container .points-4 {
  width: 1.5em;
  border-radius: 100%;
  position: absolute;
  top: 20.8%;
  left: 35%;
  transform: translateX(-10%);
  z-index: 99999999999;
}


.orbits-container .points-5 {
  width: 1.5em;
  border-radius: 100%;
  position: absolute;
  top: 20.8%;
  left: 54%;
  transform: translateX(-10%);
  z-index: 99999999;
}


.orbits-container .points-6 {
  width: 1.5em;
  border-radius: 100%;
  position: absolute;
  top: 37.8%;
  left: 75%;
  transform: translateX(10%);
  z-index: 9999999;
}










 



@media screen and (max-width: 799px) { 

  .body-container .containbodychainactive {
    display: flex;
    padding: "30px";
    width: 90%;
}

  .body-container .main-page {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    color: #F5F5F5;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}




}

















@media screen and (max-width: 709px) {



  .body-container .main-page {
    position: relative;
    width: 100%;
    height: 100%;
    /* margin-left: 20px; */
    /* background-color: blue; */
    color: #F5F5F5;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 0;
}


.main-page .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 0px; 
  margin-top: 0px;
  gap: 45px;
}




.main-page .main-content h2 {
  color: #F05454;
  font-size: 42px;
}







.main-content .welcome {
    display: flex;
    height: 5.5em;
    width: 100%;
}



.main-content .welcome-more {
  /* padding-bottom: 41px; */
  /*height: 40px;*/
  /*padding-left: 10px;*/
}


.button-contain {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  padding-left: 0;
}


.button-contain .button {
  border: none;
  width: 10em;
  height: 3em;
  background-color: #F05454;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}



.button-contain .button-2 {
  border: 1px solid #F5F5F5;
  width: 10em;
  height: 3em;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}




.littleinfo-contain {
  display: flex;
  justify-content: space-around;
  margin-top: -4px;
  width: 100%;
  /* margin-right: 30px; */
}



.littleinfo-contain .littleinfo {
  background-color: #181619;
  text-align: center;
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6.2px;
}

/* add something here for max-width: 709px */

  
}


/*

@media screen and (max-width: 504px) {
  .orbits-container .sun {
    background-color: yellow;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    position: relative;
    top: 78px;
    right: -242px;
}



.orbits-container .points-0 {
  font-size: 10px;
  border-radius: 100%;
  position: relative;
  bottom: -198px;
  right: -232px;
}


.orbits-container .points-1 {
  font-size: 10px;
  border-radius: 100%;
  position: relative;
  bottom: -183px;
  right: -269px;
}


.orbits-container .points-2 {
  font-size: 10px;
  border-radius: 100%;
  position: relative;
  bottom: -182px;
  right: -209px;
}


.orbits-container .points-3 {
  font-size: 10px;
  border-radius: 100%;
  position: relative;
  bottom: -165px;
  right: -302px;
}



.orbits-container .points-4 {
  font-size: 10px;
  border-radius: 100%;
  position: relative;
  bottom: -106px;
  right: -354px;
}


.orbits-container .points-5 {
  font-size: 10px;
  border-radius: 100%;
  position: relative;
  bottom: -87px;
  right: -381px;
}



.orbits-container .points-6 {
  font-size: 10px;
  border-radius: 100%;
  position: relative;
  bottom: -124px;
  right: -34px;
}
}

*/











@media screen and (max-width: 608px) {




  .body-container .main-page {
    position: relative;
    width: 100%;
    height: 100%;
    /* margin-left: 20px; */
    /* background-color: blue; */
    color: #F5F5F5;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 0;
}


.main-page .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 0px; 
  margin-top: 0px;
  gap: 45px;
}




.main-page .main-content h2 {
  color: #F05454;
  font-size: 42px;
}






.main-content .welcome {
    display: flex;
    height: 5.5em;
    width: 100%;
}



.main-content .welcome-more {
  /* padding-bottom: 41px; */
  /*height: 40px;*/
  /*padding-left: 10px;*/
}


.button-contain {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  padding-left: 0;
}


.button-contain .button {
  border: none;
  width: 10em;
  height: 3em;
  background-color: #F05454;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}



.button-contain .button-2 {
  border: 1px solid #F5F5F5;
  width: 10em;
  height: 3em;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}




.littleinfo-contain {
  display: flex;
  justify-content: space-around;
  margin-top: -4px;
  width: 100%;
  /* margin-right: 30px; */
}



.littleinfo-contain .littleinfo {
  background-color: #181619;
  text-align: center;
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6.2px;
}



}


















@media screen and (max-width: 495px) {



   



  .body-container .main-page {
    position: relative;
    width: 100%;
    height: 100%;
    /* margin-left: 20px; */
    /* background-color: blue; */
    color: #F5F5F5;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 0;
}


.main-page .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 0px; 
  margin-top: 0px;
  gap: 45px;
}




.main-page .main-content h2 {
  color: #F05454;
  font-size: 42px;
}






.main-content .welcome {
    display: flex;
    height: 5.5em;
    width: 100%;
}



.main-content .welcome-more {
  /* padding-bottom: 41px; */
  /*height: 40px;*/
  /*padding-left: 10px;*/
}


.button-contain {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  padding-left: 0;
}


.button-contain .button {
  border: none;
  width: 10em;
  height: 3em;
  background-color: #F05454;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}



.button-contain .button-2 {
  border: 1px solid #F5F5F5;
  width: 10em;
  height: 3em;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}




.littleinfo-contain {
  display: flex;
  justify-content: space-around;
  margin-top: -4px;
  width: 100%;
  /* margin-right: 30px; */
}



.littleinfo-contain .littleinfo {
  background-color: #181619;
  text-align: center;
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6.2px;
}







.body-container .orbits-container {
  flex-basis: 100%;
  /*background-image: url(../../img/gimpedit.png);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}



}







@media screen and (max-width: 469px) {
  

  .body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: flex-start;
    padding-top: 39px;
    padding-bottom: 39px;
    height: 100%;
  }


  .body-container .containbodychainactive {
    display: flex;
    padding: "30px";
    width: 100%;
  }
  

  .body-container .main-page {
    position: relative;
    width: 100%;
    height: 100%;
    /* margin-left: 20px; */
    /* background-color: blue; */
    color: #F5F5F5;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 0;
}


.main-page .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding-left: 0px; */
  margin-top: 0px;
  gap: 45px;
  /*padding: 16px;*/
}




.main-page .main-content h2 {
  color: #F05454;
  font-size: 42px;
}







.main-content .welcome {
    display: flex;
    height: 5.5em;
    width: 100%;
    font-size: 13px;
}



.main-content .welcome-more {
  /*padding-left: 0px;*/
  /* padding-bottom: 41px; */
  /*height: 40px;*/
  font-size: 15px;
}


.button-contain {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  padding-left: 0;
}


.button-contain .button {
  border: none;
  width: 10em;
  height: 3em;
  background-color: #F05454;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
}



.button-contain .button-2 {
  border: 1px solid #F5F5F5;
  width: 10em;
  height: 3em;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}




.littleinfo-contain {
  display: flex;
  justify-content: space-around;
  margin-top: -4px;
  width: 100%;
  /* margin-right: 30px; */
}



.littleinfo-contain .littleinfo {
  background-color: #181619;
  text-align: center;
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6.2px;
  font-size: 14px;
}






}






@media screen and (max-width: 280px) { 
  .body-container .eth-view {
    position: relative;
    flex-basis: 100%;
    height: 100%;
    margin-left: 0px; 
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
}







@media screen and (max-width: 400px) {


  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
  margin-top: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
}





.body-container .main-page {
  position: relative;
  width: 94%;
  height: 88%;
  /* margin-left: 20px; */
  /* background-color: blue; */
  color: #F5F5F5;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 10px;
  margin-left: 0;
}




.main-page .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 45px;
}

.main-content .main-content-holder {
  width: 100%;
  padding: 20px;
}




.main-content .welcome {
  display: flex;
  height: 5.5em;
  width: 100%;
}




.main-page .main-content h2 {
  color: #F05454;
  font-size: 42px;
}





.main-content .welcome-more {
  /* padding-bottom: 41px; */
  /*height: 40px;*/
  /*padding-left: 10px;*/
}




.button-contain {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}




.button-contain .button {
  border: none;
  width: 10em;
  height: 3em;
  background-color: #F05454;
  color: #F5F5F5;
  font-size: 13px;
  border-radius: 4px;
}


.button-contain .button-2 {
  border: 1px solid #F5F5F5;
  width: 11em;
  height: 3em;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}


.littleinfo-contain {
  display: flex;
  justify-content: space-around;
  margin-top: -4px;
  width: 100%;
  /* margin-right: 30px; */
}



.littleinfo-contain .littleinfo {
  background-color: #181619;
  text-align: center;
  width: 14em;
  height: 6em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6.2px;
  font-size: 14px;
}





}



@media screen and (max-width: 366px) {


  .main-page .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    gap: 36px;
    align-items: center;
}

  .body-container .main-page {
    position: relative;
    width: 92%;
    height: 88%;
    /* margin-left: 20px; */
    /* background-color: blue; */
    color: #F5F5F5;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 10px; */
    margin-left: 0px;
}


.main-page .main-content h2 {
  color: #F05454;
  font-size: 34px;
}


.main-content .welcome {
  display: flex;
  height: 4.5em;
  width: 100%;
}
 
  
.main-content .welcome-more {
  /*padding-left: 0px; */
  /* padding-bottom: 41px; */
  /*height: 40px; */
  font-size: 14px;
}



.button-contain {
  padding-left: 0px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}

}




@media screen and (max-width: 305px) {

  
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
}






.body-container .main-page {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-left: 20px; */
  /* background-color: blue; */
  color: #F5F5F5;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 0px;
  margin-left: 0;
}




.main-page .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 0;
  gap: 45px;
}

.main-content .main-content-holder {
  width: 100%;
}




.main-content .welcome {
  display: flex;
  height: 5.5em;
  width: 100%;
}




.main-page .main-content h2 {
  color: #F05454;
  font-size: 42px;
}





.main-content .welcome-more {
  /* padding-bottom: 41px; */
  /*height: 40px;*/
  /*padding-left: 10px;*/
}




.button-contain {
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}




.button-contain .button {
  border: none;
  width: 10em;
  height: 3em;
  background-color: #F05454;
  color: #F5F5F5;
  font-size: 13px;
  border-radius: 4px;
}


.button-contain .button-2 {
  border: 1px solid #F5F5F5;
  width: 11em;
  height: 3em;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}


.littleinfo-contain {
  display: flex;
  justify-content: space-around;
  margin-top: -4px;
  width: 100%;
  /* margin-right: 30px; */
}



.littleinfo-contain .littleinfo {
  background-color: #181619;
  text-align: center;
  width: 14em;
  height: 6em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6.2px;
}


  
}




