
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
  margin-top: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

root {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
