.nav-container {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}


.nav-container .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}



.nav-container .nav-link-container {
    width: 47em;
    padding-top: 10px;
}


.nav-container .nav-link-container .nav-link-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-link-ul li{
 list-style-type: none;
 
}

.nav-link-ul li a{
    text-decoration: none;
    color: #F5F5F5;
}

a {
    text-decoration: none;
}

.btn-connect {
    background-color: #F05454;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.1em;
    padding: 9px;
    color: #F5F5F5;
    border-radius: 20px;
    font-size: 13px;
}

.nav-container button {
    display: none;
}


.nav-container .nav-link-container .nav-link-mobile-ul {
    display: none;
}

.inside-ul {
    width: auto;
    display: contents;  
}

.inside-ul .inside-ul-hold-logo button{
    display: none;

}

.inside-ul .inside-ul-hold-logo h3{
    display: none;
}




@media screen and (max-width: 850px) {
 
    .nav-container button {
        display: inline-block;
        width: 5em;
        font-size: 23px;
        background: transparent;
        color: #FFF2F9;
        margin-bottom: 37px;
        border: none;
    }


    .nav-container {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
    }
    


    .nav-container .nav-link-container {
        width: 100vw;
        padding-top: 10px;
        height: 19vh;
    }

    body{
        position: relative;
      }
    
    
    .nav-container .nav-link-container .nav-link-ul{
        display: none;
    }


    .nav-container .nav-link-container .nav-link-mobile-ul {
        display: inline-block;
        background-color: #000;
        position: absolute;
        left: 0;
        right: 0;
        top: -3px;
        height: 100%;
        z-index: 999999999;
    }


    

    .nav-link-mobile-ul .inside-mobile-ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        width: 91%;
        padding: 15px;
    }


    .inside-mobile-ul .hold-logo {
        display: flex;
        width: 88%;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    .inside-mobile-ul li {
        list-style: none;
    }

    


}



@media screen and (max-width: 850px) {
  
    .nav-container .nav-link-container {
        width: 100%;
        padding-top: 10px;
        height: 19vh;
    }


   

    .nav-container button {
        display: inline-block;
        width: 20%;
        font-size: 23px;
        background: transparent;
        color: #FFF2F9;
        margin-bottom: 0px;
        border: none;
    }
}


@media screen and (max-width: 400px) {
    .nav-container .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-top: 15px; */
        padding-bottom: 37px;
    }
}